#land{
	width: 100%;
	height: 100vh;
	background-color: #BADA55;
	background-image: url('../../images/sky1.jpg');
	background-size: cover;
	background-position: 50% 50%;
	text-align: right;


	a{
		&, &:hover{
			background-color: #8724CD;
			color: #FFFFFF;
			text-decoration: none;
		}
	}
}
